@model BW_Team_5_ClinicaVeterinaria.Models.Prodotti

@{
    ViewBag.Title = "CercaProdotti";
}



<section data-section-id="2" data-share="" data-category="headers" data-component-id="44d0b9e2_02_awz" class="d-flex justify-content-between pb-5" data-path="0">
    <div class="d-flex flex-column w-100 justify-content-center" data-path="0.1">
        <div class="container" data-path="0.1.1">
            <div class="row pt-5" data-path="0.1.1.0">
                <div class="col-12 col-lg-5 w-100" data-path="0.1.1.0.0">
                    <div class="mb-5" data-path="0.1.1.0.0.0">
                        <h2 class="display-4 fw-bold mb-5 text-center" data-config-id="header" data-path="0.1.1.0.0.0.0">Cerca Prodotti</h2>
                        <div class="d-flex">
                            <input type="text" name="Nome" value="" id="prodotto" class="form-control" autofocus placeholder="Nome Prodotto" />
                        </div>

                        <div class="d-flex flex-wrap mt-3 justify-content-center" data-path="0.1.1.0.0.0.2">
                            <button class="btn btn-primary me-2 mb-2 mb-sm-0" type="button" id="cerca">Cerca</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="d-none d-lg-block start-0 h-100 bottom-0 w-50  img-fluid" style="object-fit: contain; top:-16px;" src="https://www.farmaciafontana.com/wp-content/uploads/2022/11/vet.jpg" alt="" data-config-id="02_image" data-path="0.0">
</section>


<div id="risultato" class="mt-2 d-flex justify-content-center justify-content-lg-start" style="display:none">
    <div id="ca">
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cerca").click(function () {
                var val = $('#prodotto').val()
                console.log(val)
                $("#risultato").slideToggle()
                $("#ca").empty()

                $.ajax({
                    method: "GET",
                    url: "Prodotti/Cerca",
                    data: { Nome: val },
                    success: function (d) {
                        console.log(d)

                        
                        $.each(d, function (i, v) {
                            var c = `<a href="./Prodotti/Details?id=${v.IdProdotti}" class="text-center" ><div class="card" style="width: 18rem;">
                                                 <div class="card-body">
               <h5 class="card-title">${v.Nome}</h5>
               <p class="card-text">${v.Descrizione}</p>
               <p class="card-text">Armadietto: ${v.NomeArmadietto}</p>
                <p class="card-text mb-3">Cassetto: ${v.NomeCassetto}</p>
<div>
                                </a>
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                <!-- Quantity -->
                            <div class="d-flex" style="max-width: 200px">
                                <button class="btn btn-primary px-3 me-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <div class="form-outline">
                                    <input id="_quantita_${v.IdProdotti}" min="0" value="0" autofocus type="number" class="form-control" />
                                </div>

                                <button class="btn btn-primary px-3 ms-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- Quantity -->
                                <button type="button" value="${v.IdProdotti}" class="btn btn-primary my-3 addCart">Acquista</button>
                                </div>
                            </div> `

                            $("#ca").append(c)

                            





                        })
                        $('.addCart').click(function () {
                            var idPrd= parseInt(this.value)
                            console.log(idPrd)
                            var q = $(`#_quantita_${idPrd}`).val()
                            console.log(q)
                            $.ajax({
                                method: 'GET',
                                url: "Ordini/AggiungiAlCarrello",
                                data: { id: idPrd, quantita: q },
                                success: function (data) {
                                    console.log(data)
                                    if (data.Status == true)
                                    {
                                        $(window.location).attr("href", "./Ordini/Carrello")    

                                    }
                                }
                            })



                        })


                    }


                })
            })

        })





    </script>
}
