<div class="row align-items-center" data-path="0.1.0">
    <div class="col-12 col-lg-5 me-auto mb-5" data-path="0.1.0.0">
        <h2 class="display-4 fw-bold mb-5" data-config-id="header" data-path="0.1.0.0.0">Eccellenza nella cura degli animali domestici.</h2>
        <p class="lead text-muted mb-5" data-config-id="desc" data-path="0.1.0.0.1">Dedicati ai tuoi amici pelosi con il massimo della cura. Il nostro ospedale veterinario è qui per offrire servizi di alta qualità, affiancandoti nel benessere del tuo animale.</p>
        <div class="d-flex" data-path="0.1.0.0.2">
            <input class="form-control me-2" id="chipCode" type="text" placeholder="Inserisci microchip">
            <button class="btn btn-primary" id="chipCodeButton">Cerca il tuo pelosetto</button>
        </div>
    </div>
    <div class="col-12 col-lg-6 pb-5" data-path="0.1.0.1">
        <img class="mx-auto img-fluid rounded" src="https://www.conad.it/assets/images/consigli/animali%20dal%20veterinario.jpg?_u=14e54299ccb804a561fe13fffba06c0ced41f4f4" alt="" data-config-id="03_image" data-path="0.1.0.1.0">
    </div>
</div>

<section data-section-id="4" data-share="" data-category="features" data-component-id="4d2f33a1_04_awz" class="py-5" data-path="0">
    <div class="container" data-path="0.0">
        <div class="row align-items-center" data-path="0.0.0">
            <div class="col-12 col-lg-6 mb-5 mb-lg-0" data-path="0.0.0.0">
                <img class="img-fluid" src="https://www.nonsprecare.it/wp-content/uploads/2016/10/veterinario-gratis-per-animali-domestici-roma-3.jpg" alt="" data-config-id="image" data-path="0.0.0.0.0">
            </div>
            <div class="col-12 col-lg-5 ms-auto" data-path="0.0.0.1">
                <div data-path="0.0.0.1.0">
                    <h2 class="display-5 mb-5 fw-bold" data-config-id="header" data-path="0.0.0.1.0.0">
                        I Nostri Servizi Veterinari

                    </h2>
                    <div class="d-flex mb-4" data-path="0.0.0.1.0.1">
                        <div class="text-primary me-2" data-path="0.0.0.1.0.1.0">
                            <svg style="width: 24px; height: 24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-config-id="auto-svg-1-4" data-path="0.0.0.1.0.1.0.0">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" data-path="0.0.0.1.0.1.0.0.0"></path>
                            </svg>
                        </div>
                        <div data-path="0.0.0.1.0.1.1">
                            <h4 data-config-id="header1" data-path="0.0.0.1.0.1.1.0">Assistenza veterinaria rapida:</h4>
                            <p class="text-muted" data-config-id="desc1" data-path="0.0.0.1.0.1.1.1">Risposte immediate alle esigenze del tuo animale domestico. La tua tranquillità è la nostra priorità.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-4" data-path="0.0.0.1.0.2">
                        <div class="text-primary me-2" data-path="0.0.0.1.0.2.0">
                            <svg style="width: 24px; height: 24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-config-id="auto-svg-2-4" data-path="0.0.0.1.0.2.0.0">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" data-path="0.0.0.1.0.2.0.0.0"></path>
                            </svg>
                        </div>
                        <div data-path="0.0.0.1.0.2.1">
                            <h4 data-config-id="header2" data-path="0.0.0.1.0.2.1.0">Flessibilità nei trattamenti:</h4>
                            <p class="text-muted" data-config-id="desc2" data-path="0.0.0.1.0.2.1.1">Trattamenti personalizzati per il benessere del tuo animale. Adattiamo le terapie alle esigenze specifiche del tuo animale domestico.</p>
                        </div>
                    </div>
                    <div class="d-flex" data-path="0.0.0.1.0.3">
                        <div class="text-primary me-2" data-path="0.0.0.1.0.3.0">
                            <svg style="width: 24px; height: 24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-config-id="auto-svg-3-4" data-path="0.0.0.1.0.3.0.0">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" data-path="0.0.0.1.0.3.0.0.0"></path>
                            </svg>
                        </div>
                        <div data-path="0.0.0.1.0.3.1">
                            <h4 data-config-id="header3" data-path="0.0.0.1.0.3.1.0">Cambiamenti semplici e facili:</h4>
                            <p class="text-muted" data-config-id="desc3" data-path="0.0.0.1.0.3.1.1">Semplificiamo le modifiche ai piani di cura per il tuo animale. La salute del tuo amico peloso è nelle mani dei nostri esperti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-section-id="5" data-share="" data-category="call-to-action" data-component-id="3815453b_04_awz" class="py-5" data-path="0">
    <div class="container" data-path="0.0">
        <div class="row align-items-center" data-path="0.0.0">
            <div class="col-12 col-md-5 mb-5 mb-md-0" data-path="0.0.0.0">
                <h2 class="display-5 fw-bold mb-3" data-config-id="header" data-path="0.0.0.0.0">Affidati a noi per la salute e il benessere del tuo animale. Contattaci oggi per prenotare una visita o per maggiori informazioni.</h2>
                <a class="btn btn-primary" href="#" data-config-id="primary-action" data-path="0.0.0.0.2">Contatti</a>
            </div>
            <div class="col-12 col-md-6 ms-auto" data-path="0.0.0.1">
                <img class="img-fluid" src="https://lirp.cdn-website.com/c4eca06c/dms3rep/multi/opt/shutterstock_661073398_962x347-640w.jpg" alt="" data-config-id="04_image" data-path="0.0.0.1.0">
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#chipCodeButton").click(function () {
                var inputVal = $("#chipCode").val()
                console.log(inputVal)
                if (inputVal !== "")
                {
                $.ajax({
                    method: 'GET',
                    url: "Home/searchAnimalbyChipCode",
                    data: { code: inputVal },
                    success: function (data) {
                        console.log(data)
                        if (data.status == true)
                        {
                        $(window.location).attr("href", "./Pazienti/DettagliPaziente?id=" + data.id)

                        }
                    }

                })
                }
            })




        })



    </script>
    
    
    
    
    }