body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altezza minima del viewport */
   
}

.wrapper {
    flex: 1; /* Il wrapper si espande per riempire lo spazio rimanente */
    padding: 20px; /* Aggiungi spazio vuoto sopra e sotto il contenuto */
}

.navbar{
    background-color: rgb(81, 218, 207) !important;
}

#logoContainer{
    height:4em;
    padding:10px;
    
}

#logo{
    height:100%;
    width:auto
    
}
