@model BW_Team_5_ClinicaVeterinaria.Models.Utente

@{
    ViewBag.Title = "Register";
}


<div class="card mb-3">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.Partial("_FormUtente")


    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



